<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Upload Video</title>
  </head>
  <body>
    <h1>Upload Video</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label for="video">Video File:</label>
      <input type="file" name="video" id="video"><br><br>
      <label for="text1">Latitude:</label>
      <input type="text" name="text1" id="text1"><br><br>
      <label for="text2">Longitude:</label>
      <input type="text" name="text2" id="text2"><br><br>
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
